<% include ./partials/header %>
<body>

<div class="container">

    <div class="row">
        <div class="twelve columns header blue">
            <div class="logo"><a href="/"><img src="/img/logo.png"></a></div>
            <p class="left">Client Portal</p>
            <p class="right ">
                <i class="fa fa-user margin5-right"></i>
                <span class=""><%= user.username %></span>
                <span class="light-blue margin10-left margin10-right">|</span>
                <span><a class="text-white" href="/signout">Logout</a></span>
            </p>
        </div>
    </div>

    <!-- END HEADER -->

    <div class="row pad30">
        <div class="six columns ">
            <!-- <h1>My Case</h1> -->
            <div class="panel ">
                <header class="clearfix">
                    <h2>Claim Title/#</h2>
                    <!-- <a class="button right">Edit</a> -->
                </header>
                <div class="body">
                    <div class="form">
                        <div class="row form-line">
                            <div class="three columns "><label>Status</label></div>
                            <div class="nine columns "><p>Pre-Filing Phase</p></div>
                        </div>
                        <div class="row form-line">
                            <div class="three columns "><label>Date Started</label></div>
                            <div class="nine columns "><p>07/15/2016</p></div>
                        </div>
                        <div class="row form-line">
                            <div class="three columns "><label>Location</label></div>
                            <div class="nine columns "><p>St. George, UT</p></div>
                        </div>
                        <div class="row form-line">
                            <div class="three columns "><label>Description</label></div>
                            <div class="nine columns "><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in elit non leo vehicula mattis nec at urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
                        </div>

                        <h4>What's Needed</h4>
                        <div class="row item">
                            <div class="six columns"><p><i class="fa fa-file-text"></i> Document ABC</p></div>
                            <div class="six columns align-right"><span>Due: 10/12/2016</span><a class="button right orange uploadBtn">Upload</a></div>
                        </div>
                        <div class="row item">
                            <div class="six columns"><p><i class="fa fa-file-text"></i> Document DEF</p></div>
                            <div class="six columns align-right"><span>Due: 10/12/2016</span><a class="button right orange uploadBtn">Upload</a></div>
                        </div>

                        <h4 class="margin10-top">Documents on File</h4>
                        <div class="row item">
                            <div class="six columns"><p><i class="fa fa-file-text"></i> Document 123</p></div>
                            <div class="six columns align-right"><span>Added: 10/12/2016</span><a class="button right viewBtn">View</a></div>
                        </div>
                        <div class="row item">
                            <div class="six columns"><p><i class="fa fa-file-text"></i> Document 456</p></div>
                            <div class="six columns align-right"><span>Added: 10/12/2016</span><a class="button right viewBtn">View</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="six columns ">
            <!-- <h1>Expense Account Balance</h1> -->
            <div class="panel ">
                <header class="clearfix">
                    <h3>Expense Account Balance</h3>
                    <a class="button right green payBtn">Pay</a>
                </header>
                <div class="body">
                    <div class="form row">
                        <div class="twelve columns margin10-top balanceBtn pointer">
                            <h1 class="left">$350.00</h1>
                            <span class="left margin10-left margin10-right">|</span>
                            <p class="left font12 margin5-top"><a>View expense breakdown &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <h1 class="margin30-top">My Information</h1> -->
            <div class="panel margin40-top">
                <header class="clearfix">
                    <h3 style="margin-top:5px">My Contact Information</h3>
                    <a class="button right editBtn">Edit</a>
                </header>
                <div class="body">
                    <div class="form">
                        <div class="row form-line">
                            <div class="three columns "><label>Full Name</label></div>
                            <div class="nine columns "><p><%= user.full_name %></p></div>
                        </div>
                        <div class="row form-line">
                            <div class="three columns "><label>SSN#</label></div>
                            <div class="nine columns "><p><%= user.SSN %></p></div>
                        </div>
                        <div class="row form-line">
                            <div class="three columns "><label>Birth date</label></div>
                            <div class="nine columns "><p><%= user.birth_date %></p></div>
                        </div>
                        <div class="row form-line">
                            <div class="three columns "><label>Phone</label></div>
                            <div class="nine columns "><p><%= user.phone %></p></div>
                        </div>
                        <div class="row form-line">
                            <div class="three columns "><label>Email</label></div>
                            <div class="nine columns "><p><%= user.email %></p></div>
                        </div>
                        <div class="row form-line">
                            <div class="three columns "><label>Address</label></div>
                            <div class="nine columns ">
                                <p><%= user.address %><br><%= user.apartment %><br><%= user.city %> <%= user.state %> <%= user.zip %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- END Main Content -->



<div class="overlay hide"></div>

<div class="modal hide" id="viewDoc">
    <header class="clearfix">
        <h1 class="left">Document ABC</h1>
        <a class="button left orange">Download</a>
        <i class="right fa fa-remove close"></i>

    </header>

    <div class="wrapper">
        <div class="panel ">
            <!--
<header class="clearfix">
                <h2>Document ABC</h2>
                <a class="button right orange">Download</a>
            </header>
-->
            <div class="body">
                <embed src="img/form.png"  width="100%" />
            </div>
        </div>
    </div>

</div>

<div class="modal hide" id="uploadDoc">
    <header class="clearfix">
        <h1 class="left">Upload Document</h1>
        <!-- <a class="button left orange">Download</a> -->
        <i class="right fa fa-remove close"></i>
    </header>

    <div class="wrapper">
        <div class="panel small">
            <header class="clearfix">
                <h3 class="left">Select Files to Upload</h3>
                <a class="button right orange">Select Files</a>
            </header>
            <div class="body nopad">
                <div class="row itemFull">
                    <div class="six columns">
                        <p><i class="fa fa-file-text"></i> File name 123.pdf</p>
                    </div>
                    <div class="six columns align-right">
                        <progress></progress>
                        <i class="fa fa-times-circle text-orange"></i>
                    </div>
                </div>
                <div class="row itemFull">
                    <div class="six columns">
                        <p><i class="fa fa-file-text"></i> File name 123.pdf</p>
                    </div>
                    <div class="six columns align-right">
                        <progress></progress>
                        <i class="fa fa-times-circle text-orange"></i>
                    </div>
                </div>
                <div class="row itemFull">
                    <div class="six columns">
                        <p><i class="fa fa-file-text"></i> File name 123.pdf</p>
                    </div>
                    <div class="six columns align-right">
                        <progress></progress>
                        <i class="fa fa-times-circle text-orange"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal hide" id="balance">
    <header class="clearfix">
        <h1 class="left">Expense Account</h1>
        <!-- <a class="button left orange">Download</a> -->
        <i class="right fa fa-remove close"></i>
    </header>

    <div class="wrapper">
        <div class="panel small">
            <header class="clearfix">
                <h3 class="left">Expense Account Ledger</h3>
                <a class="button right green">Pay Now</a>
            </header>
            <div class="body nopad">
                <div class="row itemFull expense">
                    <div class="eight columns">
                        <span class="date">10/13/2016</span>
                        <span>Expense description here</span>

                    </div>
                    <div class="four columns align-right">
                        <span class="status">Unpaid</span>
                        <span class="amount">$150.00</span>
                    </div>
                </div>
                <div class="row itemFull expense">
                    <div class="eight columns">
                        <span class="date">10/13/2016</span>
                        <span>Expense description here</span>

                    </div>
                    <div class="four columns align-right">
                        <span class="status">Unpaid</span>
                        <span class="amount">$100.00</span>
                    </div>
                </div>
                <div class="row itemFull expense">
                    <div class="eight columns">
                        <span class="date">10/13/2016</span>
                        <span>Expense description here</span>

                    </div>
                    <div class="four columns align-right">
                        <span class="status">Unpaid</span>
                        <span class="amount">$100.00</span>
                    </div>
                </div>

                <div class="row itemFull expense">
                    <div class="eight columns">
                        &nbsp;
                    </div>
                    <div class="four columns align-right">
                        <span class="total">Balance:</span>
                        <span class="amount">$350.00</span>
                    </div>
                </div>

                <div class="row itemFull expense paid">
                    <div class="eight columns">
                        <span class="date">10/13/2016</span>
                        <span>Expense description here</span>

                    </div>
                    <div class="four columns align-right">
                        <span class="status">Paid</span>
                        <span class="amount">$50.00</span>
                    </div>
                </div>
                <div class="row itemFull expense paid">
                    <div class="eight columns">
                        <span class="date">10/13/2016</span>
                        <span>Expense description here</span>

                    </div>
                    <div class="four columns align-right">
                        <span class="status">Paid</span>
                        <span class="amount">$200.00</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="modal hide" id="editInfo">
    <header class="clearfix">
        <h1 class="left">My Contact Information</h1>
        <!-- <a class="button left orange">Download</a> -->
        <i class="right fa fa-remove close"></i>
    </header>

    <div class="wrapper">
        <div class="panel small">
            <header class="clearfix">
                <h3 class="left">Edit Current Contact Information</h3>
                <a class="button right orange" id="save-contact-info">Save</a>
            </header>
            <div class="body nopad">
                <div class="">
                    <div class="row form-line item">
                        <div class="three columns "><label>Full Name</label></div>
                        <div class="nine columns "><input id="contact_full_name" type="text" value="<%= user.full_name %>"></div>
                    </div>
                    <div class="row form-line item">
                        <div class="three columns "><label>SSN#</label></div>
                        <div class="nine columns "><input id="contact_SSN" type="text" value="<%= user.SSN %>"></div>
                    </div>
                    <div class="row form-line item">
                        <div class="three columns "><label>Birth date</label></div>
                        <div class="nine columns "><input id="contact_birth_date" type="text" value="<%= user.birth_date %>"></div>
                    </div>
                    <div class="row form-line item">
                        <div class="three columns "><label>Phone</label></div>
                        <div class="nine columns "><input id="contact_phone" type="text" value="<%= user.phone %>"></div>
                    </div>
                    <div class="row form-line item">
                        <div class="three columns "><label>Email</label></div>
                        <div class="nine columns "><input id="contact_email" type="email" value="<%= user.email %>"></div>
                    </div>
                    <div class="row form-line item">
                        <div class="three columns "><label>Address</label></div>
                        <div class="nine columns ">
                            <input id="contact_address" type="text" value="<%= user.address %>"><br>
                            <input id="contact_apartment" type="text" value="<%= user.apartment %>"><br>
                            <input id="contact_city" class="medium" type="text" value="<%= user.city %>">
                            <select id="contact_state" class="tiny">
                                <option value="" <% if(user.state == "") { %> selected="selected" <% } %>></option>
                                <option value="AL" <% if(user.state == "AL") { %> selected="selected" <% } %>>AL</option>
                                <option value="AK" <% if(user.state == "AK") { %> selected="selected" <% } %>>AK</option>
                                <option value="AZ" <% if(user.state == "AZ") { %> selected="selected" <% } %>>AZ</option>
                                <option value="AR" <% if(user.state == "AR") { %> selected="selected" <% } %>>AR</option>
                                <option value="CA" <% if(user.state == "CA") { %> selected="selected" <% } %>>CA</option>
                                <option value="CO" <% if(user.state == "CO") { %> selected="selected" <% } %>>CO</option>
                                <option value="CT" <% if(user.state == "CT") { %> selected="selected" <% } %>>CT</option>
                                <option value="DE" <% if(user.state == "DE") { %> selected="selected" <% } %>>DE</option>
                                <option value="DC" <% if(user.state == "DC") { %> selected="selected" <% } %>>DC</option>
                                <option value="FL" <% if(user.state == "FL") { %> selected="selected" <% } %>>FL</option>
                                <option value="GA" <% if(user.state == "GA") { %> selected="selected" <% } %>>GA</option>
                                <option value="HI" <% if(user.state == "HI") { %> selected="selected" <% } %>>HI</option>
                                <option value="ID" <% if(user.state == "ID") { %> selected="selected" <% } %>>ID</option>
                                <option value="IL" <% if(user.state == "IL") { %> selected="selected" <% } %>>IL</option>
                                <option value="IN" <% if(user.state == "IN") { %> selected="selected" <% } %>>IN</option>
                                <option value="IA" <% if(user.state == "IA") { %> selected="selected" <% } %>>IA</option>
                                <option value="KS" <% if(user.state == "KS") { %> selected="selected" <% } %>>KS</option>
                                <option value="KY" <% if(user.state == "KY") { %> selected="selected" <% } %>>KY</option>
                                <option value="LA" <% if(user.state == "LA") { %> selected="selected" <% } %>>LA</option>
                                <option value="ME" <% if(user.state == "ME") { %> selected="selected" <% } %>>ME</option>
                                <option value="MD" <% if(user.state == "MD") { %> selected="selected" <% } %>>MD</option>
                                <option value="MA" <% if(user.state == "MA") { %> selected="selected" <% } %>>MA</option>
                                <option value="MI" <% if(user.state == "MI") { %> selected="selected" <% } %>>MI</option>
                                <option value="MN" <% if(user.state == "MN") { %> selected="selected" <% } %>>MN</option>
                                <option value="MS" <% if(user.state == "MS") { %> selected="selected" <% } %>>MS</option>
                                <option value="MO" <% if(user.state == "MO") { %> selected="selected" <% } %>>MO</option>
                                <option value="MT" <% if(user.state == "MT") { %> selected="selected" <% } %>>MT</option>
                                <option value="NE" <% if(user.state == "NE") { %> selected="selected" <% } %>>NE</option>
                                <option value="NV" <% if(user.state == "NV") { %> selected="selected" <% } %>>NV</option>
                                <option value="NH" <% if(user.state == "NH") { %> selected="selected" <% } %>>NH</option>
                                <option value="NJ" <% if(user.state == "NJ") { %> selected="selected" <% } %>>NJ</option>
                                <option value="NM" <% if(user.state == "NM") { %> selected="selected" <% } %>>NM</option>
                                <option value="NY" <% if(user.state == "NY") { %> selected="selected" <% } %>>NY</option>
                                <option value="NC" <% if(user.state == "NC") { %> selected="selected" <% } %>>NC</option>
                                <option value="ND" <% if(user.state == "ND") { %> selected="selected" <% } %>>ND</option>
                                <option value="OH" <% if(user.state == "OH") { %> selected="selected" <% } %>>OH</option>
                                <option value="OK" <% if(user.state == "OK") { %> selected="selected" <% } %>>OK</option>
                                <option value="OR" <% if(user.state == "OR") { %> selected="selected" <% } %>>OR</option>
                                <option value="PA" <% if(user.state == "PA") { %> selected="selected" <% } %>>PA</option>
                                <option value="RI" <% if(user.state == "RI") { %> selected="selected" <% } %>>RI</option>
                                <option value="SC" <% if(user.state == "SC") { %> selected="selected" <% } %>>SC</option>
                                <option value="SD" <% if(user.state == "SD") { %> selected="selected" <% } %>>SD</option>
                                <option value="TN" <% if(user.state == "TN") { %> selected="selected" <% } %>>TN</option>
                                <option value="TX" <% if(user.state == "TX") { %> selected="selected" <% } %>>TX</option>
                                <option value="UT" <% if(user.state == "UT") { %> selected="selected" <% } %>>UT</option>
                                <option value="VT" <% if(user.state == "VT") { %> selected="selected" <% } %>>VT</option>
                                <option value="VA" <% if(user.state == "VA") { %> selected="selected" <% } %>>VA</option>
                                <option value="WA" <% if(user.state == "WA") { %> selected="selected" <% } %>>WA</option>
                                <option value="WV" <% if(user.state == "WV") { %> selected="selected" <% } %>>WV</option>
                                <option value="WI" <% if(user.state == "WI") { %> selected="selected" <% } %>>WI</option>
                                <option value="WY" <% if(user.state == "WY") { %> selected="selected" <% } %>>WY</option>
                            </select>
                            <input id="contact_zip" class="small" type="text" value="<%= user.zip %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


</div>

<% include ./partials/footer %>
